<html>
	<head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	  <link rel="stylesheet" href="styles-popup.css" type="text/css" media="all"/>
	  <link rel="stylesheet" href="../styles.css" type="text/css" media="all"/>
	  <title>Youtube Tabs</title>
	</head>
	<body>
		<div class="content">
			<div id="content-list">
			  <!-- Youtube playing tabs render here... -->
		  </div>
		</div>
	  <script type="text/javascript" src="../../jquery.min.js"></script>
	  <script type="text/javascript" src="popup.js"></script>
	</body>
</html>